<h1>OBSYS</h1>
<table>
  <%= form_tag jump_path do %>
      <tr>
        <td><%= text_field_tag :search_name %></td>
        <td><%= submit_tag 'Hledej' %></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>

