// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.styl_ostra {
  background: #cccccc;
}

fieldset {
  padding: 4px 4px 4px 4px;
  margin: 1px 1px 1px 1px;
  box-sizing: border-box;
}

fieldset.white {
  background-color: rgb(255, 255, 255);
}

fieldset.grey {
  background-color: rgb(135, 135, 135);
}

fieldset.green {
  background-color: rgb(79, 255, 112);
}

fieldset.light_green {
  background-color: rgb(147, 255, 145);
}

fieldset.red {
  background-color: rgb(255, 90, 90);
}

fieldset.Light_red {
  background-color: rgb(255, 169, 167);
}

fieldset label {
  font-weight: bold;
}

fieldset legend {
  font-weight: bold;
  background-color: inherit;
}